<h1>Create new Blood</h1>
<form class="form" method="post" action="/blood">
	<div class="form-group">
		<label for="cost">Cost</label>
		<input type="number" class="form-control" id="cost" name="cost" placeholder="Enter a cost">
		<label for="type">Type</label>
		<input type="text" class="form-control" id="type" name="type" placeholder="Enter a type">
	</div>
	<div class="flexCenter">	
		<a href="/blood/" type="button" class="btn btn-primary">Back</a>
		<button type="submit" class="btn btn-success">Create</button>
	</div>
</form>